* {
    padding: 0;
    margin: 0;
    /*background: url(japan.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;*/
}
.parent{
    position: relative;
    background: url(japan.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 200vh;

}
.opening {
    max-height: 300px;
    overflow: hidden;
}
.opening img{
    width: 100%;
    margin-bottom: 50px;
}
.shots {
    width: 100%;
    height: 20%;    
    margin: 10px;
}
.shots img {
    width: 30%;
    height: 100%;
    float: left;
    margin-right: 10px;
    /*float: left;
    width: 100%;
    height: 100%;
    z-index: 10000;*/
}
.shots h1{
    color: red;
}
p{
    color: white;
}
.dune h1{
    color: sandybrown;
}
.dune{
    height: 20%;
    width: 100%;
    margin: 10px;
}
.dune img{
    width: 30%;
    height: 100%;
    float: left;
    margin-right: 10px;
}